In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing , neighbors
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [2]:
data_df = pd.read_csv("BitcoinHeistData.csv")

In [3]:
data_df.head()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,100050000,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,100000000,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,200000000,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,71200000,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,200000000,princetonLocky

In [4]:
ransomware_list = ['princetonCerber','princetonLocky','montrealCryptoLocker',
                    'montrealCryptXXX','montrealWannaCry','montrealDMALockerv3', 'montrealCryptoTorLocker2015',
                    'montrealSamSam', 'montrealFlyper', 'montrealNoobCrypt','montrealDMALocker', 'montrealGlobe',
                    'montrealEDA2','montrealVenusLocker', 'montrealXTPLocker','montrealGlobev3', 'montrealJigSaw',
                    'montrealXLockerv5.0', 'montrealXLocker', 'montrealRazy','montrealCryptConsole', 'montrealGlobeImposter',
                    'montrealSam','montrealComradeCircle', 'montrealAPT',
                   'paduaCryptoWall','paduaKeRanger','paduaJigsaw']
data_df.replace(ransomware_list,'ransomeware',inplace = True)

In [10]:
data_df.replace('ransomeware',1,inplace = True)
data_df.replace('white',2,inplace = True)
data_df

,year,day,length,weight,count,looped,neighbors,income,label
0,2017,11,18,8.333333e-03,1,0,2,100050000,1
1,2016,132,44,2.441410e-04,1,0,1,100000000,1
2,2016,246,0,1.000000e+00,1,0,2,200000000,1
3,2016,322,72,3.906250e-03,1,0,2,71200000,1
4,2016,238,144,7.284841e-02,456,0,1,200000000,1
...,...,...,...,...,...,...,...,...,...
1048570,2013,287,144,7.010000e-05,496,0,2,55000000,2
1048571,2013,287,100,2.840000e-14,1,0,2,18049972389,2
1048572,2013,287,4,2.500000e-01,1,0,2,156339306,2
1048573,2013,287,2,2.000000e-01,1,0,2,5553650944,2
1048574,2013,287,26,5.000000e-01,1,0,1,58555574,2

In [11]:
from sklearn.model_selection import train_test_split
training_set, test_set = train_test_split(data_df, test_size = 0.2, random_state = 2)

In [12]:
X_train = training_set.drop(['label'],1).values
Y_train = training_set['label'].values
X_test = test_set.drop(['label'],1).values
Y_test = test_set['label'].values

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel='rbf', random_state = 2)
classifier.fit(X_train,Y_train)

In [19]:
Y_pred = classifier.predict(X_test)

In [20]:
test_set["Predictions"] = Y_pred

D:\SEM\SEM-5\Python-env-domain\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,Y_pred)
accuracy = float(cm.diagonal().sum())/len(Y_test)
print("\nAccuracy Of SVM For The Given Dataset : ", accuracy)

Accuracy Of SVM For The Given Dataset :  0.9610280618935222